#Git IDEA
.idea

#IntelliJ IDEA
/Real-BackEnd/.idea

#Gradle
/Real-BackEnd/build
/Real-BackEnd/.gradle

#JAVA
/Real-BackEnd/out


#application.properties
/Real-BackEnd/src/main/resources/application.properties

/Real-BackEnd/HELP.md

