# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

Real-BackEnd/.gradle/
Real-BackEnd/.idea/
Real-BackEnd/build/
Real-BackEnd/gradle/
Real-BackEnd/src/main/resources/application.properties